<!DOCTYPE html>
<html>

<%- include ("./partials/head.ejs", {title:"crearCuenta", style:"crearCuenta"}) %>

    <body>
        <header>
            <%- include ("./partials/navbar.ejs")%>
        </header>
        <main>
            <!-- <div class="lista">
                <ul class="listaError"></ul>
            </div> -->
            <div class="registro">
                <form class="form" action="/users/crearCuenta" enctype="multipart/form-data" method="post">
                    <p>
                        <label for="Nombre de usuari@"></label>
                        <input id="name" type="text" name="name" placeholder="Nombre de usuario">
                        <% if(locals.errors && locals.errors.name){ %>
                            <p class="error-msg"><i class="far fa-times-circle"></i>
                                <%= errors.name.msg %>
                            </p>
                            <% } %>
                        <ul class="name-error"></ul>
                    </p>
                    <p>
                        <label for="email"></label>
                        <input id="email" type="email" name="email" placeholder="E-mail">
                        <% if(locals.errors && locals.errors.email){ %>
                            <p class="error-msg"><i class="far fa-times-circle"></i>
                                <%= errors.email.msg %>
                            </p>
                            <% } %>
                        <ul class="email-error"></ul>
                    </p>
                    <p>
                        <label class="image1" for="image">Subir Imagen</label>
                        <input id="image" type="file" name="image" class="image" />
                        <% if(locals.errors && locals.errors.image){ %>
                            <p class="error-msg"><i class="far fa-times-circle"></i>
                                <%= errors.image.msg %>
                            </p>
                            <% } %>
                        <ul class="image-error"></ul>
                    </p>
                    <p>
                        <label for="Contrase単a"></label>
                        <input id="password" type="password" name="password" placeholder="Contrase単a">
                        <% if(locals.errors && locals.errors.password){ %>
                            <p class="error-msg"><i class="far fa-times-circle"></i>
                                <%= errors.password.msg %>
                            </p>
                            <% } %>
                        <ul class="password-error"></ul>
                    </p>
                    <!-- <p>
                    <label for="Confirmar contrase単a"></label>
                    <input type="password" name="password" placeholder="Confirmar contrase単a">
                </p> -->
                    <p>
                        <label for="Enviar"></label>
                        <input class="efecto" type="submit" value="Crear Cuenta">
                    </p>
                    <p>
                        <label for="Cancelar"></label>
                        <input class="efecto" type="reset" value="Borrar">
                    </p>
                </form>
            </div>
        </main>
        <%- include ("./partials/footer.ejs") %>
            <script src="/js/validacionFrontRegister.js"></script>
    </body>

</html>