<!DOCTYPE html>
<html>

<%- include ("./partials/head.ejs", {title:"crearCuenta", style:"crearCuenta"}) %>

<body>
    <header>
        <%- include ("./partials/navbar.ejs")%>
    </header>
    <main>
        <div class="registro">
            <form action="/users/crearCuenta" method="post">
                <p>
                    <label for="Nombre de usuari@"></label>
                    <input type="text" name="name" placeholder="Nombre de usuario">
                    <% if(locals.errors && locals.errors.name){ %>
                        <p><%= errors.name.msg %> </p>
                    <% } %> 
                </p>
                <p>
                    <label for="email"></label>
                    <input type="email" name="email" placeholder="E-mail">
                    <% if(locals.errors && locals.errors.email){ %>
                        <p><%= errors.email.msg %> </p>
                    <% } %> 
                </p>
                <p>
                    <label for="Contrase単a"></label>
                    <input type="password" name="password" placeholder="Contrase単a">
                    <% if(locals.errors && locals.errors.password){ %>
                        <p><%= errors.password.msg %> </p>
                    <% } %> 
                </p>
                <!-- <p>
                    <label for="Confirmar contrase単a"></label>
                    <input type="password" name="password" placeholder="Confirmar contrase単a">
                </p> -->
                <p>
                    <label for="Enviar"></label>
                    <input class="efecto" type="submit">
                </p>
                <p>
                    <label for="Cancelar"></label>
                    <input class="efecto" type="reset">
                </p>
            </form>
        </div>
    </main>
    <%- include ("./partials/footer.ejs") %>
</body>

</html>