<!DOCTYPE html>
<html>

<%- include ("./partials/head.ejs", {title:"detalle-producto", style:"detalle-producto"}) %>

<body>
    <header>
        <%- include ("./partials/navbar.ejs")%>
    </header>
    <main>
        <div class="seccion">
            <div class="seccion1">
                <h1><%= producto.name %></h1>
                <img src="/img/imagenes-cafes/<%= producto.image ? producto.image : 'porDefecto.jpg' %>" alt="cafe" />
            </div>
            <div class="seccion2">
                <span class="descripcion">
                    <h2><%= producto.name %></h2>
                </span>
                <span class="precio">
                    <h3><%= producto.price %></h3>
                </span>
                <form  action="/productos/agregarcarrito/<%= producto.id %>" method="post">
                <span class="MedioDePago">
                    <h3>Medios de Pago</h3>
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-amex"></i>
                </span>
                <select name="peso" id="peso">
                    <option disabled selected>Selecciona un Peso</option>
                    <% pesos.forEach(function(tipoPeso) {%>                                    
                        <option value=<%= tipoPeso.id %>><%= tipoPeso.weight%></option>
                    <% }); %>
                </select>
                <select name="molienda" id="molienda">
                    <option disabled selected>Selecciona una Molienda</option>
                    <% moliendas.forEach(function(tipoMolienda) {%>                                    
                        <option value=<%= tipoMolienda.id %>><%= tipoMolienda.grind%></option>
                    <% }); %>
                    </select>     
                        <input name="cantidad" class="numero" type="number" placeholder="Cantidad">
                        <input class="boton" type="submit" value="agregar al carrito">
                    </form>
                        <h2>Descripcion del Producto</h2>
                <p><%= producto.description %></p>
            </div>
        </div>
    </main>
    <%- include ("./partials/footer.ejs") %>
</body>

</html>