<!DOCTYPE html>
<html lang="en">
<%- include ("./partials/head.ejs", {title:"editar-Productos", style:"editar-Productos"}) %>

  <body>
    <main>
      <%- include ("./partials/navbar.ejs") %>
        <div class="banner">
          <form class="register" action="/productos/editar-Productos/<%= productBuscado.id %>?_method=PUT" method="POST">
            <h3>Editar Producto: <%= productBuscado.name %>
            </h3>
            <div class="row">
              <div class="inputs">
                <input type="text" id="producto" name="name" value="<%= productBuscado.name %>" required>
                <label class="etiqueta" for="producto">Producto</label>
              </div>
              <div class="inputs">
                <input type="text" id="precio" name="price" value="<%= productBuscado.price %>" required>
                <label class="etiqueta" for="precio">Precio</label>
              </div>
            </div>

          
            <div class="inputs">
              <label class="image-input" for="imagen-producto">Nueva Imagen (Opcional)</label>
              <input type="file" id="imagen-producto">
            </div>
            <div class="inputs">
              <input type="text" name="intensity" id="intensity" value="<%= productBuscado.intensity %>" required/>
              <label class="etiqueta" for="intensity">intensity</label>
            </div>
            <div class="inputs">
              <textarea id="description" name="description" rows="8" required><%= productBuscado.description %></textarea>
              <label class="etiqueta" for="description"></label>
            </div>
            <button type="submit">Editar</button>

          </form>
          <form action="/productos/eliminar/<%= productBuscado.id %>?_method=DELETE" method="POST">
            <button>Borrar</button>
          </form>
        </div>
    </main>
  </body>

  <%- include ("./partials/footer.ejs") %>

</html>