<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head.ejs", {title:"editar-Productos",
  style:"editar-Productos"}) %>

  <body>
    <main>
      <%- include ("./partials/navbar.ejs") %>
      <div class="banner">
        <form
          id="form"
          class="register"
          action="/productos/editar-Productos/<%= productBuscado.id %>?_method=PUT"
          enctype="multipart/form-data"
          method="POST"
        >
          <h3>Editar Producto: <%= productBuscado.name %></h3>
          <!-- <% if(locals.errors2){ %>
              <ul>
                  <% errors2.forEach(function(error) {  %>
                      <li class="error-msg"><i class="far fa-times-circle"></i> <%= error.msg %> </li>
                  <% }) %> 
              </ul>
             <% } %> -->
          <div class="row">
            <div class="input">
              <input
                type="text"
                id="producto"
                name="name"
                value="<%= productBuscado.name %>"
              />
              <label class="etiqueta" for="producto">Producto</label>
              <% if(locals.errors && locals.errors.name){ %>
              <p class="error-msg">
                <i class="far fa-times-circle"></i>
                <%= errors.name.msg %>
              </p>
              <% } %>
              <ul class="productoEr"></ul>
            </div>
            <div class="input">
              <input
                type="text"
                id="precio"
                name="price"
                value="<%= productBuscado.price %>"
              />
              <label class="etiqueta" for="precio">Precio</label>
              <% if(locals.errors && locals.errors.price){ %>
              <p class="error-msg">
                <i class="far fa-times-circle"></i>
                <%= errors.price.msg %>
              </p>
              <% } %>
              <ul class="precioEr"></ul>
            </div>
          </div>

          <div class="inputs">
            <label class="image-input" for="imagen-producto"
              >Nueva Imagen (Opcional)</label
            >
            <input type="file" id="imagen-producto" name="image" />
            <% if(locals.errors && locals.errors.image){ %>
            <p class="error-msg">
              <i class="far fa-times-circle"></i>
              <%= errors.image.msg %>
            </p>
            <% } %>
            <ul class="imagenEr"></ul>
          </div>
          <div class="inputs">
            <input
              type="text"
              name="intensity"
              id="intensity"
              value="<%= productBuscado.intensity %>"
            />
            <label class="etiqueta" for="intensity">intensity</label>
            <% if(locals.errors && locals.errors.intensity){ %>
            <p class="error-msg">
              <i class="far fa-times-circle"></i>
              <%= errors.intensity.msg %>
            </p>
            <% } %>
            <ul class="intensityEr"></ul>
          </div>
          <div class="inputs">
            <textarea id="description" name="description" rows="8">
<%= productBuscado.description %></textarea
            >
            <label class="etiqueta" for="description"></label>
            <% if(locals.errors && locals.errors.description){ %>
            <p class="error-msg">
              <i class="far fa-times-circle"></i>
              <%= errors.description.msg %>
            </p>
            <% } %>
            <ul class="descriptionEr"></ul>
          </div>
          <button type="submit">Editar</button>
        </form>
        <form
          action="/productos/eliminar/<%= productBuscado.id %>?_method=DELETE"
          method="POST"
        >
          <button>Borrar</button>
        </form>
      </div>
    </main>
    <script src="/js/validationFrontEditar.js"></script>
  </body>

  <%- include ("./partials/footer.ejs") %>
</html>
