<!DOCTYPE html>
<html>

<%- include ("./partials/head.ejs", {title:"menu-productos", style:"menu-productos"}) %>

<body>
  <main>
    <div class="menu">
      <%- include ("./partials/navbar.ejs") %>
      <h1>Menú de Café:</h1>
      <div class="gallery">
        <% producto.forEach(function(producto) { %>
          <div class="content">
            <img class="img-content" src="/img/imagenes-cafes/<%= producto.image ? producto.image : 'porDefecto.jpg' %>" alt="cafe" />
            <h3><%= producto.name %></h3>
            <p><%= producto.description %></p>
            <h6> $ <%= producto.price %></h6>
            <h6>Intensidad:  <%= producto.intensity %></h6>
            <button class="detail">Detalle</button>
          </div>
        
        <% }) %>
      </div>
    </div>
  </main>
  <!-----------Footer------------ -->
  <footer>
      <%- include ("./partials/footer.ejs") %>
  </footer>
</body>
</html>


