<!DOCTYPE html>
<html>

<%- include ("./partials/head.ejs", {title:"menu-productos", style:"menu-productos"}) %>

<body>
  <main>
    <div class="menu">
      <%- include ("./partials/navbar.ejs") %>
      <h1>Menú de Café:</h1>
      <section class="menu-wrap">
        <% products.forEach(function(cafe) { %>

        <article>
          <div class="img-container">
                <!-- if ternario para el caso que no tenga imagen definida ponga una por defecto -->
            <img src="/img/imagenes-cafes/<%= cafe.image ? cafe.image : 'porDefecto.jpg' %>" alt="cafe" />
          </div>
          <div class="info">
            <p>Información del café </p>
            <ul>
              <li>Nombre: <%= cafe.name %></li>
              <li>Descripción: <%= cafe.description %></li>  
              <li>Precio: <%= cafe.price %></li>
              <li>Moliendas: <%= cafe.moliendas %></li>
            </ul>
          </div>
        </article>

        <% }) %>
      </section>
    </div>
  </main>
  <!-----------Footer------------ -->
  <footer>
      <%- include ("./partials/footer.ejs") %>
  </footer>
</body>
</html>